<div style="{{.styles}}">
    <h4 style="margin: 8px">{{.type}} {{.name}}({{.parameters}})</h4>
    <div style="margin-left: 32px; margin-right: 32px; margin-bottom: 32px; display: flex; flex-direction: column;">
    {{.body}}
    </div>
</div>

