<div style="{{.styles}}">
    <div style="margin-left: 32px;  display: flex; flex-direction: column;">
    {{.body}}
    </div>
<div style="margin: 8px; display: flex; flex-direction: row; justify-content: center">
{{.condition}}
</div>
</div>

